<ion-header>
  <ion-toolbar>
    <ion-title>
      Treinos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      

      <ion-card (click)="showTrainType('A')">
          <ion-card-header>
            <!-- <ion-card-subtitle>Treino</ion-card-subtitle> -->
            <ion-card-title>A</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
          </ion-card-content>
        </ion-card>

        <ion-card (click)="showTrainType('B')">
            <ion-card-header>
              <!-- <ion-card-subtitle>Treino</ion-card-subtitle> -->
              <ion-card-title>B</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
            </ion-card-content>
          </ion-card>
</ion-content>
