<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form #formUsuario="ngForm" (submit)="saveUser(formUsuario)">
        <ion-item>
          <ion-input [(ngModel)]="dadosForm.email"  name="email" placeholder="Email" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dadosForm.tipo"  name="tipo" placeholder="Tipo" required></ion-input>
        </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="dadosForm.descricao"  name="descricao" placeholder="Descricao" required></ion-input>
          </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dadosForm.nome"  name="nome" placeholder="Nome do exercicio" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Peso</ion-label>
          <ion-select [(ngModel)]="dadosForm.peso" value="15" name="peso" okText="Ok" cancelText="Cancelar">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
          </ion-select>
        </ion-item>
    
        <ion-button expand="block" type="submit" [disabled]="!formUsuario.valid">Cadastrar</ion-button>
      </form>

</ion-content>
