<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Treino {{type}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let exercicio of exercicios" (click)="ediar(exercicio)">
        <ion-label>{{exercicio.nome}} - {{exercicio.peso}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="ediar()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

</ion-content>
